<!-- Add your site or application content here -->
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#" translate="HOME"></a></li>
      <li><a ng-href="#/about" translate="ABOUT"></a></li>
      <li><a ng-href="#/contact" translate="CONTACT"></a></li>
    </ul>
  </div>

  <lang-directive></lang-directive>
  <div ng-view></div>

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>
